<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="UTNA staff evaluation page / Pagina de evaluación del personal UTNA" />
	<meta name="author" content="0s [Cereal]" />
	
	<title>Sistema</title>
	
	<link rel="icon" type="image/icon" href="/img/favicon.ico">
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	
	<link href="/css/styles.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<link href="/css/custom.css" rel="stylesheet" />
	
	<script src="https://kit.fontawesome.com/d2607f57a5.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
	
	<nav id="layoutNavbar"
	class="sb-topnav navbar navbar-expand navbar-dark bg-dark text-end">
	<!-- Navbar Brand-->
	<button class="navbar-brand btn goto ps-3" data-goto="/">
		<img class="mx-auto d-block pt-1 pe-none" src="/img/logo-utna.png" width="100" alt="UTNA">
	</button>
	
	<!-- Sidebar Toggle-->
	
	<!-- Navbar Search-->
	<form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></form>
	
	<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-5">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
			aria-expanded="false"> <i class="fa-solid fa-user fa-fw me-1"></i><%= user.usuario %></a>
			<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
				
				<li><button class="dropdown-item container logout">
					
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> <a href="/logout" style="text-decoration: none; color: black;"><span class="pe-none" data-lang="es">Cerrar sesion</span></a><span data-lang="en">Logout</span>
				</button></li>
			</ul>
		</li>
	</ul>
</nav>	<!-- Navbar-->

<!------------------------------------->

<% 
	if (user.usuario==="Usuario 1") { %>
	<%- include('Eval_Pares.ejs') %>
	<% } %>
	
		<% if (user.usuario==="Usuario 2") { %>
			<%- include('EvalTutoria') %>
			<% } %>
			
		<% if (user.usuario==="Usuario 3") { %>
			<%- include('Enc_Satisfaccion.ejs') %>
			<% } %>
			
			<% if (user.usuario==="Usuario 4") { %>
				<%- include('Eval_Desempeño.ejs') %>
				<% } %>
				
				<% if (user.usuario==="Usuario 5") { %>
					<%- include('Observacion_Clase.ejs') %>
					<% } %>		

	<%- include('template/!scripts.ejs') %>
	<script src="/js/page-inator.js"></script>
	<script src="/js/ctrl-panel.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>				
</html>

				